.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #d1d1d1;
    text-align: center;
    border-bottom: 1px solid #e1e4e8;
    background-image: linear-gradient(to bottom, #000000, #3d0c02, #780a03, #b50704, #ff0000, #ff0000, #ff0000);
}